/* Définition des variables CSS */
:root {
    --primary-color: #FF0000; /* Couleur principale (rouge) */
    --primary-color-hover: #CC0000; /* Couleur principale au survol (rouge foncé) */
    --secondary-color: #61787f; /* Couleur secondaire (gris clair) */
    --text-color: #ffffff; /* Couleur du texte (blanc) */
    --overlay-bg: rgba(0, 0, 0, 0.6); /* Fond de l'overlay (gris transparent) */
    --modal-bg: rgba(0, 0, 0, 0.8); /* Fond de la modale (semi-transparent) */
    --button-bg-dark: #000000; /* Fond des boutons sombres (noir) */
    --button-bg-dark-hover: #333333; /* Fond des boutons sombres au survol (gris foncé) */
}

h1, h2, label, select {
    font-family: 'Oswald', sans-serif; /* Police Oswald */
    font-weight: 500; /* Poids Medium */
    font-size: 24px; /* Taille de police */
}

.logo {
    display: flex; /* Mode flexbox */
    align-items: center; /* Alignement vertical */
    background-color: var(--secondary-color); /* Couleur de fond */
    color: var(--text-color); /* Couleur du texte */
    padding: 10px; /* Espacement interne */
}

.logo img {
    width: 100px; /* Largeur du logo */
    height: auto; /* Conserve les proportions */
    margin-right: 10px; /* Espacement entre le logo et le titre */
}

.logo h1 {
    font-size: 36px; /* Taille du titre */
    margin: 0; /* Suppression des marges */
}

.movie-frame {
    display: flex; /* Mode flexbox */
    align-items: center; /* Alignement vertical */
    gap: 20px; /* Espacement entre les éléments */
    border: 5px solid #000; /* Bordure noire */
    padding: 10px; /* Espacement interne */
    position: relative; /* Nécessaire pour le positionnement absolu */
}

.movie-poster {
    width: 150px;
    height: auto;
}

.movie-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.movie-details h3 {
    margin: 0 0 10px 0; /* Espacement entre le titre et le bouton */
}

/* Classe commune pour les boutons */
.details-button, .close-button, .see-more-button, .see-less-button {
    background-color: var(--primary-color); /* Utilisation de la variable */
    color: var(--text-color); /* Utilisation de la variable */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold; /* Texte en gras */
    padding: 10px 50px;
    font-size: 16px;
    text-align: center;
}

/* Effet hover commun */
.details-button:hover {
    background-color: var(--primary-color-hover); /* Utilisation de la variable */
}

/* Centrer le bouton Voir plus */
.see-more-button, .see-less-button {
    display: none; /* Masque le bouton sur écran Desktop */
    margin: 0 auto;
}

/* Styles spécifiques au bouton "Fermer" */
.close-button {
    margin: 20px auto 0; /* Centré horizontalement */
    grid-column: 1 / -1; /* Étend le bouton sur les deux colonnes */
}

/* Styles spécifiques au bouton "Détails" */
.details-button {
    align-self: flex-end; /* Aligne le bouton à droite */
    padding: 10px 25px; /* Ajuste la taille */
    position: absolute;
    right: 10px; /* Ajustez la valeur selon vos besoins */
    bottom: 10px; /* Ajustez la valeur selon vos besoins */
}

#top-rated-movies {
    margin: 20px 0;
}

.modal {
    display: none; /* Cachée par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-bg); /* Utilisation de la variable */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto; /* Ajoute une barre de défilement verticale */
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

/* Conteneur principal des sections */
.modal-sections {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Deux colonnes : contenu (titre) à gauche et affiche à droite */
    gap: 20px; /* Espacement entre les colonnes */
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur totale */
    align-items: start; /* Aligne les éléments verticalement en haut */
}

/* Section Titre du film */
.modal-title {
    grid-column: 1; /* Place le titre dans la première colonne */
}

.modal-title p {
    margin: 0; /* Supprime les marges par défaut */
    line-height: 1.2; /* Réduit l'espacement entre les lignes */
    font-weight: bold; /* Met le texte en gras */
}

/* Section Affiche */
.modal-poster {
    grid-column: 2; /* Place l'affiche dans la deuxième colonne */
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: flex-start; /* Aligne l'image en haut */
}

/* Section Réalisé par et Synopsis */
.modal-synopsis {
    grid-column: 1 / -1; /* Étend le bouton sur les deux colonnes */
    margin-bottom: 20px;
}

/* Section Liste des acteurs */
.modal-actors {
    grid-column: 1 / -1; /* Étend le bouton sur les deux colonnes */
}

/* Bouton de fermeture (croix) */
.modal-x-close {
    display: none; /* Masque le Bouton de fermeture (croix) sur les écrans desktop */
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color); /* Utilisation de la variable */
    cursor: pointer;
}

.modal-x-close:hover {
    color: var(--primary-color-hover); /* Utilisation de la variable */
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    gap: 20px; /* Espacement entre les éléments */
    justify-items: center; /* Centre les éléments horizontalement */
}

/* Styles pour les éléments de categorie-1 */
.movie-item {
    position: relative; /* Nécessaire pour positionner l'overlay */
    overflow: hidden; /* Empêche le contenu de dépasser */
    display: none; /* Masque les films par défaut */
}

.movie-item img {
    display: block; /* Affiche l'image comme un bloc */
    width: 250px; /* Largeur des affiches */
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
    cursor: pointer; /* Change l'icône de la souris en pointeur */
}

/* Bandeau transparent gris */
.movie-item .overlay {
    position: absolute;
    top: 30px; /* Place le bandeau à 10px du haut de l'image */
    left: 0;
    right: 0;
    font-size: 18px;
    background: var(--overlay-bg); /* Utilisation de la variable */
    padding: 10px 0;
}

/* Styles pour le titre du film dans l'overlay */
.movie-item .overlay .movie-title {
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
    color: white;
}

/* Bouton dans le bandeau */
.movie-item .overlay .details-button {
    background-color: var(--button-bg-dark); /* Utilisation de la variable */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}

/* Effet hover pour le bouton */
.movie-item .overlay .details-button:hover {
    background-color: var(--button-bg-dark-hover); /* Utilisation de la variable */
}

/* Ajout d'un espacement sous la liste déroulante */
#other-category select {
    margin-bottom: 20px; /* Ajustez la valeur selon vos besoins */
}

/* Media queries regroupées */
@media (max-width: 768px) {
    .logo {
        flex-direction: column;
        text-align: center;
    }

    .movie-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .movie-frame {
        flex-direction: column;
        align-items: center;
    }

    .modal-sections {
        display: flex; /* Remplace l'affichage en grille par un affichage flex */
        flex-direction: column; /* Les sections s'affichent en colonne */
        gap: 20px; /* Espacement entre les sections */
    }

    .modal-poster {
        justify-content: center; /* Centre l'image horizontalement */
        align-items: center; /* Centre l'image verticalement */
        order: 2; /* Place l'image après le synopsis */
    }

    .modal-synopsis {
        order: 1; /* Place le synopsis avant l'image */
    }

    .modal-actors {
        order: 3; /* Place la liste des acteurs après l'image */
    }

    .see-more-button {
        display: block;
    }

    .modal-x-close {
        display: block;
        font-size: 40px;
        top: 5px;
        right: 5px;
    }

    .close-button {
        display: none;
    }

    .movie-item:nth-child(-n+4) {
        display: block;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 80px;
    }

    .movie-grid {
        grid-template-columns: 1fr;
    }

    .movie-frame {
        text-align: center;
    }

    .modal-sections {
        display: flex; /* Remplace l'affichage en grille par un affichage flex */
        flex-direction: column; /* Les sections s'affichent en colonne */
        gap: 20px; /* Espacement entre les sections */
    }

    .modal-poster {
        justify-content: center; /* Centre l'image horizontalement */
        align-items: center; /* Centre l'image verticalement */
        order: 2; /* Place l'image après le synopsis */
    }

    .modal-synopsis {
        order: 1; /* Place le synopsis avant l'image */
    }
    
    .modal-actors {
        order: 3; /* Place la liste des acteurs après l'image */
    }
    
    .see-more-button {
        padding: 8px 20px;
        font-size: 14px;
    }

    .movie-item:nth-child(-n+2) {
        display: block;
    }
}

@media (min-width: 769px) {
    body {
        width: 1030px;
        margin: 0 auto;
    }

    .movie-item {
        display: block;
    }

    .see-more-button, .see-less-button {
        display: none;
    }
}

#other-category h2 {
    display: none; /* Masque le titre de la section Autres catégories */
}