/* Définition des variables CSS */
:root {
    /* Les variables permettent de centraliser les couleurs et de faciliter leur réutilisation */
    --primary-color: #FF0000; /* Couleur principale (rouge) */
    --primary-color-hover: #CC0000; /* Couleur principale au survol (rouge foncé) */
    --secondary-color: #61787f; /* Couleur secondaire (gris clair) */
    --text-color: #ffffff; /* Couleur du texte (blanc) */
    --overlay-bg: rgba(0, 0, 0, 0.6); /* Fond de l'overlay (gris transparent) */
    --modal-bg: rgba(0, 0, 0, 0.8); /* Fond de la modale (semi-transparent) */
    --button-bg-dark: #000000; /* Fond des boutons sombres (noir) */
    --button-bg-dark-hover: #333333; /* Fond des boutons sombres au survol (gris foncé) */
}

h1, h2, label, select {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

/* Logo et en-tête */
.logo {
    /* Utilisation de flexbox pour aligner le logo et le texte horizontalement */
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px;
}

.logo img {
    width: 100px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 36px;
    margin: 0;
}

/* Cadre du film */
.movie-frame {
    /* Flexbox pour aligner les éléments du cadre horizontalement */
    display: flex;
    align-items: center;
    gap: 20px; /* Espacement entre les éléments */
    border: 5px solid var(--button-bg-dark); /* Bordure noire */
    padding: 10px;
    position: relative; /* Nécessaire pour positionner le bouton "details" */
}

.movie-poster {
    width: 150px;
    height: auto;
}

.movie-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.movie-details h3 {
    margin: 0 0 10px 0;
}

/* Boutons */
.details-button, .close-button, .see-more-button, .see-less-button {
    /* Styles communs pour les boutons */
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer;
    font-weight: bold;
    padding: 10px 50px;
    font-size: 16px;
    text-align: center;
}

.details-button:hover {
    background-color: var(--primary-color-hover);
}

/* Boutons spécifiques */
.see-more-button, .see-less-button {
    display: none;
    margin: 0 auto;
}

.close-button {
    margin: 20px auto 0;
    grid-column: 1 / -1;
}

.details-button {
    /* Positionnement spécifique pour le bouton "details" */
    align-self: flex-end;
    padding: 10px 25px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* Section des films les mieux notés */
#top-rated-movies {
    margin: 20px 0;
}

/* Modale */
.modal {
    /* La modale est initialement masquée */
    display: none;
    position: fixed; /* Fixée par rapport à la fenêtre */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-bg); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Priorité d'affichage élevée */
    overflow-y: auto; /* Permet le défilement vertical */
    overflow-x: hidden; /* Désactive le défilement horizontal */
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

/* Conteneur principal des sections */
.modal-sections {
    /* Grille pour organiser les sections de la modale */
    display: grid;
    grid-template-columns: 2fr 1fr; /* Deux colonnes avec des proportions différentes */
    gap: 20px; /* Espacement entre les colonnes */
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    align-items: start; /* Aligne les éléments en haut */
}

/* Section Titre du film */
.modal-title {
    grid-column: 1;
}

.modal-title p {
    margin: 0;
    line-height: 1.2;
    font-weight: bold;
}

/* Section Affiche */
.modal-poster {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Section Réalisé par et Synopsis */
.modal-synopsis {
    grid-column: 1 / -1;
    margin-bottom: 20px;
}

/* Section Liste des acteurs */
.modal-actors {
    grid-column: 1 / -1;
}

/* Bouton de fermeture (croix) */
.modal-x-close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
}

.modal-x-close:hover {
    color: var(--primary-color-hover);
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Styles pour les éléments de categorie-1 */
.movie-item {
    position: relative;
    overflow: hidden;
    display: none;
}

.movie-item img {
    width: 100%; /* Assure que l'image a la même largeur que l'overlay */
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Bandeau transparent gris */
.movie-item .overlay {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    font-size: 18px;
    background: var(--overlay-bg);
    padding: 10px 0;
    height: 20%;
}

/* Styles pour le titre du film dans l'overlay */
.movie-item .overlay .movie-title {
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
    color: white;
}

/* Bouton dans le bandeau */
.movie-item .overlay .details-button {
    background-color: var(--button-bg-dark);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}

/* Effet hover pour le bouton */
.movie-item .overlay .details-button:hover {
    background-color: var(--button-bg-dark-hover);
}

/* Ajout d'un espacement sous la liste déroulante */
#other-category select {
    margin-bottom: 20px;
}

/* Media queries */
@media (max-width: 768px) {
    .logo {
        /* Réorganisation du logo pour les petits écrans */
        flex-direction: column;
        text-align: center;
    }

    .movie-grid {
        /* Réduction du nombre de colonnes pour les petits écrans */
        grid-template-columns: repeat(2, 1fr);
    }

    .movie-frame {
        flex-direction: column;
        align-items: center;
    }

    .modal-sections,
    .modal-poster,
    .modal-synopsis,
    .modal-actors {
        /* Réorganisation des sections de la modale en colonnes */
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .modal-poster {
        justify-content: center;
        align-items: center;
        order: 2;
    }

    .modal-synopsis {
        order: 1;
    }

    .modal-actors {
        order: 3;
    }

    .see-more-button {
        display: block;
    }

    .modal-x-close {
        display: block;
        font-size: 40px;
        top: 5px;
        right: 5px;
    }

    .close-button {
        display: none;
    }

    .movie-item:nth-child(-n+4) {
        display: block;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 80px;
    }

    .movie-grid {
        grid-template-columns: 1fr;
    }

    .movie-frame {
        text-align: center;
    }

    .see-more-button {
        padding: 8px 20px;
        font-size: 14px;
    }

    .movie-item:nth-child(-n+2) {
        display: block;
    }
}

@media (min-width: 769px) {
    body {
        width: 1030px;
        margin: 0 auto;
    }

    .movie-item {
        display: block;
    }

    .see-more-button, .see-less-button {
        display: none;
    }
}

#other-category h2 {
    display: none;
}